html{

   background-color: #1a4775;
   background-size: cover;
   font-size: 16px;
    
}

@media screen and (min-width: 10rem) {
    .container {
      margin: 1em 2em;
      column-count: 1;
      display: flex;
    }
  }

#_dash-app-content{

    max-width: 100%;
    max-height: 100%;
}

.top{
    
    display: flex;
    margin-left: 100px;
    width: 1300px;
    height: 200px;
}

h1{

    font-size: 3rem;
    width: auto;
    display: inline-block ;
    margin-left: 120px;
    margin-right: 50px;
    
}

.header{

    height: 20px;
}


.bloqIcon{

    display: inline-block;
    max-width: 100%;
    margin-top: 30px;
    margin-left: 200px;
}


.secondHeader{
    
    width: 400px;
    font-size: 1.5rem;
    margin-left: 220px;
}

.bloquesSup{

    display: flex;
    width: 1300px;
    margin-left: 0px;
}

.bloqTotal{

    margin-left: 120px;
}


.bloqTotal, .bloqPrimero, .bloqUltimo, .bloqImplicados {

    background-color: rgb(8, 34, 85);
    max-width: 100%;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 8px;
    text-align: center;
    color: aliceblue;
    display: inline-block;
        
}

.bloqDiario{

    background-color: rgb(8, 34, 85);
    max-width: 100%;
    margin-bottom: 0px;
    margin-right: 10px;
    border-radius: 8px;
    text-align: center;
    color: aliceblue;
    display: inline-block;

}

.bloqTotal:hover, .bloqPrimero:hover, .bloqUltimo:hover,.bloqDiario:hover , .bloqImplicados:hover{

    background-color: rgb(22, 56, 123);
}


.numeroMaxDiario, .numeroMaxImplicados, .numFecha, .numTotal{

    font-size: 2em;
    margin-top: 0px;
    font-weight: bold;

}


.contact-button{

    background-image: url(/assets/contact-icon.png);
    background-color: transparent;
    border: transparent;
    width: 31px;
    height: 31px;
    margin-left: 40px;

}
.contact-button:hover{

    width: 33px;
    height: 33px;
}


.rowOne{

    
    background-color:rgb(8, 34, 85);
    margin-bottom: 10px;
    width: 1450px;
    max-width: 100%;
    display: flex;
}

.rowTwo{
    
        background-color:rgb(8, 34, 85);
        margin-bottom: 10px;
        width: 1450px;
        max-width: 100%;
        display: flex;
    
}
.dash-spreadsheet-menu{

    margin-top: 10px;
}

.radioItem{

    font-size: 16px;
    margin-top: 10px;
    color:white;
    border-color:  rgb(43, 30, 117);
    margin-left: 230px;
    width: 300px;
    border-radius: 5px;
    
}

.mapa{

    max-width: 100%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
  
  }



.js-plotly-plot .plotly .modebar {
      left: 50%;
      transform: translateX(-50%);
}

#mainTable{
    
    max-width: 80%;
    margin-left: 10px;
    margin-top: 10px;
    display:inline-flexbox;
    
    
}


.figGraphs{
    max-width: 100%;
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    

}

.secondFigGraphs{
    background-color:rgb(8, 34, 85);
    display:flex;
    margin-top: 20px;
    margin-left: 10px;
    max-width: 100%;
    

}

#clear_filter{

    margin-right: 570px;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: center;
    background-color:#1a4775;
    border-radius: 8px;
    border-width: 0;
    color: #e7e1e1;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    padding-bottom: 10px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

#clear_filter:hover{
   
    background-color:rgb(22, 56, 123);
}

#totalFilter{

    color: white;
    font-size: 18px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-top: 20px;
}


.dash-spreadsheet-menu{

    position: relative;
    float: left;
}

.dash-spreadsheet-container .dash-spreadsheet .dash-freeze-top .dash-fill-width{
   
    float:right;

}


.previous-next-container{
    
    position: relative;
    float: right;
    
} 

.previous-next-container .page-number .last-page{

    position: relative;
    background-color: white;
    font-size: 10pt;
    font-family: monospace;
    padding: 1px 2px;
    border-bottom: solid lightgrey 1px;
    width: 4ch;
    height: 2.5ch;
    display: flex;
    margin-top: 10px;
    
    
    
}
.dash-table-container{
    font-size: 13px;
}
.column-header--select{

    padding-right: 3px;
    
}

.first-page, .next-page, .previous-page, .last-page, .current-page{

    cursor: pointer;
    border-radius: 10px;
    display: flex;
    
}

