body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 30px;
    background-color: #31394e;
    color: black;
    height:auto;
    width: fit-content;
    max-height: 1200px;
    max-width: 900px;
}

.rowNab{

    display: inline-flex;
    margin-top: 20px;
    margin-left: 150px;
    padding-bottom: 20px;
    gap: 5px;

}


.rowMap { /*Fila mapa*/
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f0f0f0; /* Esto añade un color de fondo a las filas para que puedas verlas */
    background-color: rgb(36, 42, 59);
    margin-bottom: 20px;
    align-items: flex-start;
    margin-left: 20px;
    background-color: #242A3B;
    width: 1460px;
    height: 550px;
    
}

.btn-group{

    display: inline-flex;
}
.colMapa{

    display: grid;
    margin-left: 20px;
}


.row-split {
    display:grid;
    grid-template-rows: 10px 4px;
    gap: 20px; /* Esto añade un poco de espacio entre las columnas */
    row-gap: 10px;
}

#mapaCallback .modebar {
    
    margin-right: 50px;
 }



 #_dash-app-content > div > div.rowNab.row h3{

    font-size: 16px;
    font-weight: bold;
}

 .bloqTotal,.bloqPrimero,.bloqUltimo,.bloqDiario,.bloqImplicados{

    width: 220px;
    height: 90px;
    background-color: #242A3B;
    margin-top: 2px;
    text-align: center;
    padding-top: 0px;
    font-size: 20px;
    
    color: whitesmoke;
    
}

.bloqTotal:hover,.bloqPrimero:hover,.bloqUltimo:hover,.bloqDiario:hover,.bloqImplicados:hover{

    background-color: #424c68;

}

.mapa{

    display: grid;
    padding-top: 50px;
}

#mapaCallback .modebar{

    margin-right: 200px;
}


.graficos{

    display: grid;
    margin-left: 20px;
    margin-top: 50px;
    row-gap: 10px;
}
.Select-control,.Select-multi-value-wrapper,.Select-arrow-zone,.Select-clear-zone,.Select div{
    background-color: #242A3B;
    border-color: blue;
}
.Select.has-value.Select--single > 
.Select-control .Select-value .Select-value-label,.dash-dropdown,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label,.Select-arrow{
    color: blue;
}
#dropdown.dash-dropdown { /*dropdown label text */
    color: blue !important;
    border-color: blue;

}

.row_two { /* Fila Tabla de datos*/
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    align-items: flex-start;
    margin-left: 20px;
    background-color: #242A3B;
    width: 1460px;
    height: 550px;
    
}


.column {
    background-color: #e0e0e0; /* Esto añade un color de fondo a las columnas para que puedas verlas */
    border: 1px solid #bbb; /* Esto añade un borde a las columnas */
    background-color: #660708;
    border: 1px solid #0b090a;
}


.form-check{

    margin-left: 20px;
    color: whitesmoke;
    margin-top: 5px;
    width: auto;
    display: grid;
}


.totalFilter{

    display: grid;
    grid-column: 2/2;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
}

.btn-secondary{

    display: grid;
    grid-column: 2/2;
    margin-top: 10px;
    margin-left: 50px;
    width: 100px;
    height: 40px;
    
}
#clear_filter{

    background-color: #31394e;
    color:whitesmoke;
    font-size: 14px;
}
#clear_filter:hover{

    background-color: #424c68;

}
.dash-spreadsheet-menu .dash-spreadsheet-menu-item .show-hide-menu{
background-color: #fafafa;
border: 1px solid #d3d3d3;
display: grid;
grid-column: 1/2;
flex-direction: column;
max-height: 300px;
overflow: auto;
position: absolute;
top: 100%;
left: 0;
z-index: 500;
}

